* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Press Start 2P", monospace;
  overflow: hidden;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container do fliperama */
.arcade-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  position: relative;
}

/* Tela do jogo com barras laterais */
.game-screen2 {
  width: 1200px; /* 1800 * 2/3 */
  height: 867px; /* 1300 * 2/3 */
  position: relative;
  background-image: url('https://i.ibb.co/mFrkZKh0/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #000000; /* 2 * 2/3 */
  overflow: hidden;
  border-left: 27px solid #000;  /* 40 * 2/3 - Barra preta esquerda */
  border-right: 27px solid #000; /* 40 * 2/3 - Barra preta direita */
}

@keyframes shake {
  0%, 100% { transform: translate(0, 0); }
  20%, 60% { transform: translate(-0.1vw, -0.1vh); }
  40%, 80% { transform: translate(0.1vw, 0); }
}

.botao-imagem {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 23%;
  left: 31%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: shake 0.5s infinite;
  cursor: pointer;
}

.botao-imagem img {
  width: 312px; /* 468 * 2/3 */
  height: 320px; /* 480 * 2/3 */
  image-rendering: pixelated;
}

.botao {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 37%;
  left: 63%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: shake 0.5s infinite;
  cursor: pointer;
}

.botao img {
  width: 420px; /* 630 * 2/3 */
  image-rendering: pixelated;
}

.botao2 {
  background: none;
  border: none;
  padding: 0;
  position: absolute;
  top: 14%;
  left: 63%;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: shake 0.5s infinite;
  cursor: pointer;
}

.botao2 img {
  width: 420px; /* 630 * 2/3 */
  image-rendering: pixelated;
}

.imagem-flutuante {
  position: absolute;
  height: 743px; /* 1115 * 2/3 */
  bottom: 0;
  left: 7px; /* 10 * 2/3 */
  width: 820px; /* 1230 * 2/3 */
  image-rendering: pixelated;
  z-index: 1;
  animation: shake 0.5s infinite;
}