body {
    margin: 0;
    background-color: #000;
    color: #3233ff;
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    font-size: 12px;
    align-items: center;
    image-rendering: pixelated;
    overflow: hidden;
  }

  .container {
    margin-top: 40px;
    width: 60vh;
    border: 2px solid #3233ff;
    box-shadow: 0 0 20px #3233ff;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    margin-left: 63vh;
    }

  .caixa {
    padding: 40px;
  }

  .anagrama {
    font-size: 25px;
    font-weight: bold;
    color: #555;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 12px;
  }

  input {
    caret-color: transparent;
    width: 305px;
    height: 20px;
    padding: 15px;
    border: 2px solid #00f;
    border-radius: 5px;
    box-shadow: 0 0 10px #00f;
    text-align: center;
    margin-bottom: 20px;
    cursor: text;
  }

  #frase {
    font-family: 'Press Start 2P', monospace;
    font-size: 18px;
    display: block;
  }
  
  #verificarBtn {
    background-color: #000;
    padding: 5px 8px;
    font-size: 18px;
    color: #3233ff;
    border: 2px solid #3233ff;
    box-shadow: 0 0 8px #3233ff;
    font-family: 'Press Start 2P', monospace;
    border-radius: 5px;
    cursor: pointer;;
  }

  #verificarBtn:hover {
    background: #3233ff;
    color: #000;
  }

  #resposta {
    outline: none;
    margin-top: 0px;
    padding: 12px 32px;
    background: transparent;
    border: 2px solid #3233ff;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Press Start 2P', monospace;
    border-radius: 0;
    box-shadow: 0 0 8px #3233ff;
  }

  #resposta:hover {
    outline: none;
    color: white;
    background: #000000;
    box-shadow: 0 0 8px #3233ff;
  }
  
  #continueBtn {
    display: none;
    margin-left: 84vh;
    margin-top: 15px;
    padding: 12px 32px;
    background: transparent;
    border: 2px solid #3233ff;
    color: #3233ff;
    font-size: 14px;
    font-family: 'Press Start 2P', monospace;
    border-radius: 0;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    box-shadow: 0 0 8px #3233ff;
  }
  
  #continueBtn:hover {
    background: #3233ff;
    color: #000;
    animation: glitch 0.6s infinite;
  }

  @keyframes glitch {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-1px, 1px); }
    40% { transform: translate(1px, -1px); }
    60% { transform: translate(-1px, -1px); }
    80% { transform: translate(1px, 1px); }
    100% { transform: translate(0, 0); }
  }
  
  
  